@font-face {
  font-family: 'Norse Bold';
  src: url(./Norse-Bold.otf);
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.landing {
  height: 100vh;
  display: flex;
}

/* Left side of the form  */

.landing-left {
  position: relative;
  overflow: hidden;
  flex: 1 1 55%;
}

.landing-background {
  height: 100%;
  width: 100%;
  opacity: 90%;
  object-fit: cover;
}

.landing-banner,
.landing-left-footer {
  color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.landing-banner {
  font-size: 6.8rem;
  align-items: center;
  top: 13%;
}

.landing-banner-background,
.landing-left-footer-background
{
  background-color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  opacity: 90%;
}

.landing-banner-icon {
  max-height: 120px;
}

.landing-banner-header {
  font-family: 'Norse Bold';
}

.landing-left-footer {
  bottom: 0px;
}

.landing-left-footer a {
  color: white;
  margin: 0px 5px;
}

/* Right side of landing  */

.landing-right {
  display: flex;
  flex-direction: column;
  background-color: #f9fafc
}

.landing-right-intro {
  padding: 20px 50px;
  padding-top: calc(100px - 1.5vh);
}

.landing-right-intro p {
  max-width: 65%;
  font-size: calc(1rem + 0.25vw);
  font-weight: 600;
}

/* Form styling */

.landing-right-form {
  background-color: #ffffff;
  padding: 1.5vh 50px;
  box-shadow: 0 5px 2px -2px lightgray;
}

.landing-right-form {
  font-size: calc(.5rem + 0.2vw);
}

.landing-right-form form{
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
}

.form-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 5px;
  max-width: 230px;
  flex: 1 0 50%;
  margin: 20px 60px 20px 0px;
}

.form-input label {
  text-transform: uppercase;
  color: #84878c;
  font-weight: bold;
}

.form-input input {
  border-radius: 5px;
  height: 30px;
  width: 100%;
  border: 1px solid lightgray;
}

.form-input input:focus {
  outline: 1px solid skyblue;
  box-shadow: 0px 4px -2px -2px black;
}

.input-invalid:invalid {
  outline: 1px solid red;
}

/* Button and login */

#main-form-button {
  border: none;
  color: white;
  background-color: #596D48;
  padding: 15px 25px;
  max-width: 200px;
  border-radius: 6px;
  margin: 20px 50px;
}

#main-form-button:hover {
  cursor: pointer;
}

.swap-to-login {
  padding: 20px 50px;
}

.login {
  color: #596D48;
  text-decoration: none;
}

.login:hover {
  cursor: pointer;
}