@font-face {
  font-family: 'Norse Bold';
  src: url(./Norse-Bold.otf);
}

body {
  padding: 0;
  margin: 0;
}

.landing {
  height: 100vh;
  overflow: hidden;
}

.landing-background {
  max-height:100vh;
}